{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-7 mx-auto mt-5">
      <div class="card p-3">
        <h3 class="text-center"><i class="fas fa-comments fa-2x"></i> Ncode Chat App</h3>
        <hr>
        <form action="checkroom" method="post">
          {% csrf_token %}
          <div class="form-group">
            <i class="fas fa-door-open fa-2x"></i> <label for="room">Enter Room</label> 
            <input type="text" name="room" id="room" class="form-control" required>
          </div>
          <div class="form-group">
            <i class="fas fa-user-circle fa-2x"></i> <label for="user">Enter Username</label>
            <input type="text" name="username" id="user" class="form-control" required>
          </div>
          <button class="btn btn-success btn-block">Enter Chat Room</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}